.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
  box-sizing: border-box;
}

.title {
  margin-top: 0;
  font-size: 2em;
  line-height: 1.1;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.iframe-wrapper {
  width: 425px;
  height: 672px;
  overflow: hidden;
}

.iframe-wrapper iframe {
  position: relative;
  width: 1280px;
  height: 1000px;
  top: -90px;
  left: -856px;
}

.dot-editor {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size-selector {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.text-converter {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.text-converter input[type="text"] {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Misaki', monospace;
}

.text-converter button {
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1EB8CB;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.text-converter button:hover {
  background-color: #64C2AF;
}

.color-picker {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.color-swatch {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.color-swatch:hover {
  border-color: #888;
}

.grid {
  display: inline-block;
  margin-top: 20px;
  max-height: 500px;
  overflow: auto;
}

.row {
  display: flex;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell:hover {
  border-color: #888;
}

.copy-button {
  cursor: pointer;
  border: none;
  background: none;
  color: #ffffff;
  font-size: 16px;
}

.copy-button:hover {
  text-decoration: underline;
}

.copied {
  color: #2196f3;
}

.result {
  max-width: 500px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  color: #e0cbde;
  line-height: 1.5;
  white-space: pre-wrap;
  padding: 10px;
  background-color: #30162e;
  border: 1px solid #e0cbde;
  border-radius: 5px;
}